<ng-template #standardTpl> I'm a standard toast </ng-template>

<ng-template #successTpl> I'm a success toast </ng-template>

<ng-template #dangerTpl>
  <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
    <path d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z"/>
  </svg>
  Danger Danger!
</ng-template>

<div class="container text-center mt-3">
  <div class="max-w-lg rounded overflow-hidden shadow-lg">
    <div class="title-card mb-5 mt-4">
      {{title}}
    </div> 
    <div class="card-body px-5">
      <form class="w-full px-5" [formGroup]= "editCustomerForm" (submit)= "onSubmit()">
              <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full px-3 mb-6 mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" >
                        First name
                    </label>
                    <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 
                                    rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" 
                                    type="text" formControlName = "name" />
                    @if (editCustomerForm.controls['name'].errors?.['required']&& 
                          (editCustomerForm.controls['name'].touched || editCustomerForm.controls['name'].dirty))
                    {
                      <p class="text-red-500 text-xs italic"> Name field is required </p>
                    }
                    @if (editCustomerForm.controls['name'].errors?.['minlength']&& 
                          (editCustomerForm.controls['name'].touched || editCustomerForm.controls['name'].dirty))
                    {
                      <p class="text-red-500 text-xs italic"> Name must be at least 3 digits </p>
                    }
                    @if (editCustomerForm.controls['name'].errors?.['maxlength']&& 
                          (editCustomerForm.controls['name'].touched || editCustomerForm.controls['name'].dirty))
                    {
                      <p class="text-red-500 text-xs italic">Name cannot be longer than 15 digits </p>
                    }
                  </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3 mb-6 md:mb-0">
                      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
                          Last Name
                      </label>
                      <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none 
                                      focus:bg-white focus:border-gray-500" 
                                  type="text" formControlName = "surname" />
                      @if (editCustomerForm.controls['surname'].errors?.['required']&& 
                            (editCustomerForm.controls['surname'].touched || editCustomerForm.controls['surname'].dirty))
                      {
                        <p class="text-red-500 text-xs italic"> Surname field is required</p>
                      }
                      @if (editCustomerForm.controls['surname'].errors?.['minlength'] && 
                            (editCustomerForm.controls['surname'].touched || editCustomerForm.controls['surname'].dirty))
                      {
                        <p class="text-red-500 text-xs italic"> Surname must be at least 3 digits </p>
                      }
                      @if (editCustomerForm.controls['surname'].errors?.['maxlength'] && 
                            (editCustomerForm.controls['surname'].touched || editCustomerForm.controls['surname'].dirty))
                      {
                        <p class="text-red-500 text-xs italic"> Surname cannot be longer than 15 digits </p>
                      }
                </div>
              </div>
          <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Phone Number:</label>
              <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight
                            focus:outline-none focus:bg-white focus:border-gray-500"
                    type="text"formControlName="phoneNumber" />
              @if (editCustomerForm.controls['phoneNumber'].errors?.['required'] && 
                        (editCustomerForm.controls['phoneNumber'].touched || editCustomerForm.controls['phoneNumber'].dirty))
              {
                <p class="text-red-500 text-xs italic"> Phone number is required </p>
              }
              @if (editCustomerForm.controls['phoneNumber'].errors?.['minlength'] &&
                    (editCustomerForm.controls['phoneNumber'].touched || editCustomerForm.controls['phoneNumber'].dirty))
              {
                <p class="text-red-500 text-xs italic"> Phone number must be at least 8 digits </p>
              }
            </div>
          </div>
          <div  class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
              <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Email</label>
              <input type="text" class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight
              focus:outline-none focus:bg-white focus:border-gray-500" formControlName = "email">
              @if (editCustomerForm.controls['email'].errors?.['required'] && (editCustomerForm.controls['email'].touched || editCustomerForm.controls['email'].dirty) )
              {
                <p class="text-red-500 text-xs italic"> Email is required </p>
              }
              @if (editCustomerForm.controls['email'].errors?.['email'] && (editCustomerForm.controls['email'].touched || editCustomerForm.controls['email'].dirty) )
              {
                <p class="text-red-500 text-xs italic"> Email is not in the correct format </p>
              }
            </div>
          </div>
          
          <div class="text-center mb-4">
              <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" 
                    type="submit"
                    [disabled]="editCustomerForm.invalid">
                Upload
              </button>
          </div>

      </form>
    </div>
  </div>
  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
</div>