@if(loading == true){
    <div class="container text-center mt-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}@else {

    <mat-icon matPrefix>search</mat-icon>
    <input [(ngModel)] = "searchTerm" matInput placeholder="Search..." (ngModelChange)="onSubmit()">
    <select [(ngModel)] = "sortTerm" (ngModelChange)="onSubmit()">
    <option value="asc">asc</option>
    <option value="desc">desc</option>
    </select>
    

    <div class="container text-center mt-3">
        <div class="table-responsive rounded-4 border-3 color-bg-custom">
            <table class="table table-hover custom-font">
                <thead class="custom-header">
                    <tr>
                        <th scope="col text-base">#</th>
                        <th scope="col text-base">Name</th>
                        <th scope="col text-base">Surname</th>
                        <th scope="col text-base">Email</th>
                        <th scope="col text-base">Phone Number</th>
                        <th scope="col text-base">Actions</th>
                    </tr>
                </thead>
                <tbody >
                @for(customer of customers;track idx; let idx = $index;){
                    <tr>
                        <th class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">{{idx + 1 }}</th>
                        <td class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">{{customer.name}}</td>
                        <td class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">{{customer.surname}}</td>
                        <td class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">{{customer.email}}</td>
                        <td class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">{{customer.phoneNumber}}</td>
                        <td class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">
                            <section>
                                <div class="example-button-row">
                                    <button mat-stroked-button class="edit-button" [routerLink] = "['edit-customer', customer._id]">Edit</button>
                                    <button mat-stroked-button class="view-button" [routerLink] = "['view-customer', customer._id]">View</button>
                                    <button mat-stroked-button class="delete-button" (click)="openConfirmModal(customer)">Delete</button>
                                </div>
                            </section>
                        </td>
                    </tr>
                }
                <tr class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">
                    <button mat-stroked-button class="edit-button" [routerLink] = "['add-customer']">Add new Customer</button>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{currentPage}} of {{ (customers.length / itemsPerPage) | ceil}}</span>
        <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= customers.length">Next</button>
      </div>
}