
<div class="wrapper">
    <!-- Dark Overlay -->
    <div class="overlay"></div>

    <div class="app-title-flex">
        <!-- Logo -->
        <div class="logo"></div>
        <!-- App Title -->
        <h1 class="app-title">Library Management App</h1>
    </div>
    <div class="boxes-container">
        <p class="middle-box">Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Quia nulla, molestias corporis mollitia facere, 
            deserunt eius delectus, possimus commodi rem consectetur labore 
            dolorem fugit! Ea quaerat excepturi officiis fugiat sed!</p>
        <p class="middle-box">Lorem222 ipsum dolor sit amet consectetur 
            adipisicing elit. Quia nulla, molestias corporis mollitia facere, 
            deserunt eius delectus, possimus commodi rem consectetur labore 
            dolorem fugit! Ea quaerat excepturi officiis fugiat sed!</p>
    </div>
</div>
