
<div class="wrapper ">
    <!-- Dark Overlay -->
    <div class="overlay"></div>

    <div class="app-title-flex">
        <div class="logo"></div>
        <h1 class="app-title">Library Management App</h1>
    </div>
    <div class="boxes-container">
        <p class="middle-box">The application offers a wide variety of
          capabilities to a librarian </p>
        <p class="middle-box">Manage customers, books and reservations
          as well as the availability of the books. </p>
    </div>
</div>
