.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;

    background: url(/library-home.jpg) no-repeat center center;
    backdrop-filter: blur(2.58584px);
    overflow: hidden;

}

.app-title-flex {
    display: flex;
    justify-content: center;
}

.app-title{
    position: absolute;
    top: 30vh;
    width: 40vw;
    max-width: 418px;
    height: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: clamp(1.5rem, 3vw, 2.5rem); /* Minimum, preferred, maximum */

    color: #FFFFFF;
    text-align: center;
    padding: 0 1rem;
}

.logo{
    position: absolute;
    top: 3vh;
    width: 30vw;
    height: 30vh;

    background: url(/logo-4-removebg-preview.png)  no-repeat center center;
    background-size: contain;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2); /* Semi-transparent black overlay */
}


.boxes-container {
    position: relative;
    top: 50vh;
    width: 100vw;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(20rem,1fr));
    gap: 2vw;
    align-items: start;
}

.middle-box{
    background-color: rgba(255, 255, 255, 0.65); /* Semi-transparent white background */
    border: 1px solid #ccc;
    padding: 1.5rem;
    margin: 2.5rem;
    text-align: center;
    justify-content: center;
    font-size: clamp(1rem, 1.3vw, 2.5rem); /* Minimum, preferred, maximum */
    height: 13rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    top: 50%;
    box-shadow: 0px 1px 16px rgba(221, 217, 217, 0.966);
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}


.middle-box:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Increase transparency on hover */
  }
