<div class="container text-center mt-3">
  <div class="card mx-auto" style="max-width: 600px;">
    <div class="card-header">
      {{title}}
    </div>
    <div class="card-body">
      <form [formGroup]="editbookForm" (submit)="onSubmit()">

        <div class="mb-3">
          <label class="form-label">Book Name:</label>
          <input type="text"
                 class="form-control"
                 formControlName="name"
                 placeholder="Enter book name"
                 [ngClass]="{'is-invalid': editbookForm.controls['name'].errors && (editbookForm.controls['name'].touched || editbookForm.controls['name'].dirty)}"/>
          <div
            *ngIf="editbookForm.controls['name'].errors && (editbookForm.controls['name'].touched || editbookForm.controls['name'].dirty)">
            <p *ngIf="editbookForm.controls['name'].errors?.['required']" class="text-danger">Name field is required</p>
            <p *ngIf="editbookForm.controls['name'].errors?.['minlength']" class="text-danger">Name must be at least 3
              characters</p>
            <p *ngIf="editbookForm.controls['name'].errors?.['maxlength']" class="text-danger">Name cannot be longer
              than 15 characters</p>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Author Name:</label>
          <input type="text"
                 class="form-control"
                 formControlName="author"
                 placeholder="Enter author name"
                 [ngClass]="{'is-invalid': editbookForm.controls['author'].errors && (editbookForm.controls['author'].touched || editbookForm.controls['author'].dirty)}"/>
          <div
            *ngIf="editbookForm.controls['author'].errors && (editbookForm.controls['author'].touched || editbookForm.controls['author'].dirty)">
            <p *ngIf="editbookForm.controls['author'].errors?.['required']" class="text-danger">Author field is
              required</p>
            <p *ngIf="editbookForm.controls['author'].errors?.['minlength']" class="text-danger">Author must be at least
              3 characters</p>
            <p *ngIf="editbookForm.controls['author'].errors?.['maxlength']" class="text-danger">Author cannot be longer
              than 15 characters</p>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Type:</label>
          <select class="form-select"
                  formControlName="type"
                  [ngClass]="{'is-invalid': editbookForm.controls['type'].errors && (editbookForm.controls['type'].touched || editbookForm.controls['type'].dirty)}">
            <option value="" disabled selected>Select book type</option>
            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
          </select>
          <div
            *ngIf="editbookForm.controls['type'].errors && (editbookForm.controls['type'].touched || editbookForm.controls['type'].dirty)">
            <p *ngIf="editbookForm.controls['type'].errors?.['required']" class="text-danger">Type of the book is
              required</p>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Year:</label>
          <input type="number"
                 class="form-control"
                 formControlName="year"
                 placeholder="Enter publication year"
                 [ngClass]="{'is-invalid': editbookForm.controls['year'].errors && (editbookForm.controls['year'].touched || editbookForm.controls['year'].dirty)}"/>
          <div
            *ngIf="editbookForm.controls['year'].errors && (editbookForm.controls['year'].touched || editbookForm.controls['year'].dirty)">
            <p *ngIf="editbookForm.controls['year'].errors?.['required']" class="text-danger">Year is required</p>
          </div>
        </div>

        <div class="text-center mb-4">
          <button [ngClass]="{ 'disabled-button': isDisabled }"
                  class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none
                   text-white font-bold py-2 px-4 rounded"
                  type="submit"
                  [disabled]="editbookForm.invalid">
            Upload
          </button>
        </div>


      </form>
    </div>
  </div>
</div>
