<div class="container text-center mt-3">
  <div class="card mx-auto" style="max-width: 600px;">
    <div class="card-header">
      {{title}}
    </div>
    <div class="card-body">
      <form [formGroup]="editbookForm" (submit)="onSubmit()">

        <div class="mb-3">
          <label class="form-label">Book Name:</label>
          <input type="text"
                 class="form-control"
                 formControlName="name"
                 placeholder="Enter book name"
                 [ngClass]="{'is-invalid': editbookForm.controls['name'].errors && (editbookForm.controls['name'].touched || editbookForm.controls['name'].dirty)}"/>
          <div>
            @if (editbookForm.controls['name'].errors?.['required']&&
                            (editbookForm.controls['name'].touched || editbookForm.controls['name'].dirty)){
                <p class="text-danger">Name field is required</p>
              }
              @if (editbookForm.controls['name'].errors?.['minlength']&&
                            (editbookForm.controls['name'].touched || editbookForm.controls['name'].dirty)){
                <p class="text-danger">Name must be at least 3 characters</p>
              }
              @if (editbookForm.controls['name'].errors?.['maxlength']&&
                            (editbookForm.controls['name'].touched || editbookForm.controls['name'].dirty)){
                <p class="text-danger">Name cannot be longer
                  than 15 characters</p>
              }


          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Author Name:</label>
          <input type="text"
                 class="form-control"
                 formControlName="author"
                 placeholder="Enter author name"
                 [ngClass]="{'is-invalid': editbookForm.controls['author'].errors && (editbookForm.controls['author'].touched || editbookForm.controls['author'].dirty)}"/>
                 @if (editbookForm.controls['author'].errors?.['required']&&
                 (editbookForm.controls['author'].touched || editbookForm.controls['author'].dirty))
           {
             <p class="text-danger"> author field is required</p>
           }
           @if (editbookForm.controls['author'].errors?.['minlength'] &&
                 (editbookForm.controls['author'].touched || editbookForm.controls['author'].dirty))
           {
             <p class="text-danger"> author must be at least 3 digits </p>
           }
           @if (editbookForm.controls['author'].errors?.['maxlength'] &&
                 (editbookForm.controls['author'].touched || editbookForm.controls['author'].dirty))
           {
             <p class="text-danger"> author cannot be longer than 15 digits </p>
           }
        </div>

        <div class="mb-3">
          <label class="form-label">Type:</label>
          <select class="form-select"
                  formControlName="type"
                  [ngClass]="{'is-invalid': editbookForm.controls['type'].errors && (editbookForm.controls['type'].touched || editbookForm.controls['type'].dirty)}">
            <option value="" disabled selected>Select book type</option>
            <option *ngFor="let type of types" [value]="type">{{ type }}</option>
            <select name="cars" formControlName="type">
              @for(type of types; track type;){
                  <option value="{{type}}">{{type}}</option>
              }
            </select>
              @if (editbookForm.controls['type'].errors?.['required'] &&
                        (editbookForm.controls['type'].touched || editbookForm.controls['type'].dirty))
              {
                <p class="text-danger"> Type of the book is required </p>
              }
              </select>
        </div>


        <div class="mb-3">
          <label class="form-label">Year:</label>
          <input type="number"
                 class="form-control"
                 formControlName="year"
                 placeholder="Enter publication year"
                 [ngClass]="{'is-invalid': editbookForm.controls['year'].errors && (editbookForm.controls['year'].touched || editbookForm.controls['year'].dirty)}"/>
          <div>
            @if (editbookForm.controls['year'].errors?.['required'] && (editbookForm.controls['year'].touched || editbookForm.controls['year'].dirty) )
            {
              <p class="text-danger"> Year is required </p>
            }
          </div>
        </div>

        <div class="text-center mb-4">
          <button
                  class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none
                   font-bold py-2 px-4 rounded"
                  type="submit"
                  [disabled]="editbookForm.invalid">
            Submit
          </button>
        </div>



      </form>
    </div>
  </div>
</div>
