 .navbar{
    opacity: 0.9;
   background-color: transparent;
   justify-content: center;
}

.img-log-c{
    object-fit:cover;
    width:20px;
    height:40px;
}

.custom-visible {
    visibility: visible !important; /* Override the collapse class */
  }
