<div class="hamburger" (click)="toggleMenu()">
    &#9776; <!-- This is the hamburger icon (3 horizontal lines) -->
</div>

<div class="navbar">
    <div class="navbar-group">
        <div class="navbar-item" [routerLink]="['/newsfeed']">Home</div>
        <div class="navbar-item">About</div>
        <div class="navbar-item">Skills</div>
        <div class="navbar-item">Projects</div>
        <div class="navbar-item">Contact</div>
    </div>
</div>

<!-- Responsive Menu for smaller screens -->
<div class="responsive-menu" [class.show]="menuVisible">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
</div>