
<div class="modal-header">
    <h4 class="modal-title">Profile deletion</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <p><strong>Are you sure you want to delete this profile?</strong></p>
    <p>This operation cannot be undone.</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cancel')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Ok')">Ok</button>
</div>
    