<div class="container text-center mt-5">
  <!-- Loading Spinner or Card Content -->
  @if (loading == true) {
    <div class="text-center mt-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  } @else {
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">


      @for (book of books; track book; let idx = $index) {


        <div class="col d-flex justify-content-center">
          <div class="flip-card-container ">
            <div class="flip-card">
              <div class="card-front">
                <figure>
                  <div class="img-bg"></div>
                  <img
                    src="/book.jpg"
                    alt="Brohm Lake">
                  <figcaption>Brohm Lake</figcaption>
                </figure>
                <ul>
                  <li>Detail 1</li>
                  <li>Detail 2</li>
                  <li>Detail 3</li>
                  <li>Detail 4</li>
                  <li>Detail 5</li>
                </ul>
              </div>
              <div class="card-back">
                <button>Book</button>
              </div>
            </div>
          </div>
        </div>


        <div class="col d-flex justify-content-center">
          <div class="flip-card-container">
            <div class="flip-card">
              <div class="card-front">
                <figure>
                  <div class="img-bg"></div>
                  <img
                    src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                    alt="Image 2">
                  <figcaption>Another Lake</figcaption>
                </figure>
                <ul>
                  <li>Detail 1</li>
                  <li>Detail 2</li>
                  <li>Detail 3</li>
                  <li>Detail 4</li>
                  <li>Detail 5</li>
                </ul>
              </div>
              <div class="card-back">
                <button>Book</button>
              </div>
            </div>
          </div>
        </div>

      }
        </div>
      }
    </div>
