  <!-- Loading Spinner or Card Content -->
  @if (loading == true) {
    <div class="text-center mt-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  } @else {

    <mat-icon matPrefix>search</mat-icon>
    <form [formGroup]= "searchBookForm" (submit)= "onSubmit()">
      <input formControlName = "searchTerm" matInput placeholder="Search...">
      <select formControlName = "sortTerm">
        <option value="asc">asc</option>
        <option value="desc">desc</option>
      </select>
    <div class="text-center mb-4">
      <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none 
                  text-white font-bold py-2 px-4 rounded" 
                  type="submit"
                  >
                  Search
      </button>
    </div>
    </form>
    
    <div class="container custom-container">
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-3">
      @for (book of books; track book._id; let idx = $index) {


        <div class="col d-flex justify-content-center">
          <div class="flip-card-container ">
            <div class="flip-card">
              <div class="card-front">
                <figure>
                  <img
                    src="/book.jpeg"
                    alt="Brohm Lake">
                  <figcaption>{{book.name}}</figcaption>
                </figure>
                <ul>
                  <li>{{book.year}}</li>
                  <li>{{book.type}}</li>
                  <li>{{book.author}}</li>
                  <li>{{book.createdOn}}</li>
                  <li>{{book._id}}</li>
                </ul>
              </div>
              <div class="card-back">
                <figure>
                  <div class="img-bg"></div>
                  <img src="/book.jpeg" 
                  alt="Brohm Lake"></figure>
                  <div class="example-button">
                    <button mat-stroked-button class="custom-button" [routerLink] = "['edit-book', book._id]">Edit</button>
                    <button mat-stroked-button class="custom-button" [routerLink] = "['view-book', book._id]">View</button>
                    <button mat-stroked-button class="custom-button" (click)="openConfirmModal(book)">Delete</button>
                  </div>
              </div>
            </div>
          </div>
        </div>

      }
        </div>
        <tr class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">
          <button mat-stroked-button class="edit-button" [routerLink] = "['add-book']">Add new Book</button>
        </tr>
      </div>
      }