@if(loading == true){
    <div class="container text-center mt-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}@else {
    <div class="container text-center mt-3">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Year</th>
                        <th scope="col">Type</th>
                        <th scope="col">Author</th>
                        <th scope="col">Created On</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody >
                @for(book of books; track book;let idx=$index){
                    <tr>
                        <th class="align-middle">{{idx + 1 }}</th>
                        <td class="align-middle" >{{book.name}}</td>
                        <td class="align-middle">{{book.year}}</td>
                        <td class="align-middle">{{book.type}}</td>
                        <td class="align-middle">{{book.author}}</td>
                        <td class="align-middle">{{book.createdOn}}</td>
                        <td>
                            <section>
                                <div class="example-button-row">
                                    <button mat-stroked-button class="edit-button">Edit</button>
                                    <button mat-stroked-button class="view-button">View</button>
                                    <button mat-stroked-button class="delete-button">Delete</button>
                                </div>
                            </section>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}