

<div class="container text-center mt-3">
    <div class="card mx-auto" style="max-width: 600px;">
      <div class="card-header">
        {{title}}
      </div> 
      <div class="card-body">
        <form [formGroup]= "addReservationForm" (submit)= "onSubmit()">
                <div class="mb-3">
                      <label class="form-label">
                          Book name
                      </label>
                        <select class="form-select" 
                                      type="text" formControlName = "book"
                                      [ngClass]="{'is-invalid': addReservationForm.controls['book'].errors && (addReservationForm.controls['book'].touched || addReservationForm.controls['book'].dirty)}">
                        
                        @for(book of books; track book._id;){
                                <option value="{{book._id}}">{{book.name}}</option>
                        } 
                        </select>
                      
                      @if (addReservationForm.controls['book'].errors?.['required']&& 
                            (addReservationForm.controls['book'].touched || addReservationForm.controls['book'].dirty))
                      {
                        <p class="text-danger"> Book field is required </p>
                      }
                </div>
                <div class="mb-3">
                        <label class="form-label">
                            Customer
                        </label>
                        <select class="form-select" 
                                      type="text" formControlName = "customer"
                                      [ngClass]="{'is-invalid': addReservationForm.controls['customer'].errors && (addReservationForm.controls['customer'].touched || addReservationForm.controls['customer'].dirty)}">
                        @for(customer of customers; track customer._id;){
                                <option value="{{customer._id}}">{{customer.name}} {{customer.surname}}</option>
                        } 
                        </select>
                        @if (addReservationForm.controls['customer'].errors?.['required']&& 
                              (addReservationForm.controls['customer'].touched || addReservationForm.controls['customer'].dirty))
                        {
                          <p class="text-danger"> Customer field is required</p>
                        }
                </div>
            <div  class="mb-3">
                <label class="form-label">Returned By:</label>
                <input type="date" class="form-control" formControlName = "returnedBy">
                @if (addReservationForm.controls['returnedBy'].errors?.['required'] && (addReservationForm.controls['returnedBy'].touched || addReservationForm.controls['returnedBy'].dirty) )
                {
                  <p class="text-danger"> Date of creation is required</p>
                }
            </div>
            
            <div class="text-center mb-4">
                <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none 
                            font-bold py-2 px-4 rounded" 
                            type="submit"
                            [disabled]="addReservationForm.invalid"
                            >
                            Submit
                </button>
            </div>
  
        </form>
      </div>
    </div>
  </div>