@if(loading == true){
    <div class="container text-center mt-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}@else {
    <div class="container text-center mt-3">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Book Name</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Reserved On</th>
                        <th scope="col">Returned By</th>
                    </tr>
                </thead>
                <tbody >
                @for(reservation of reservations; track idx; let idx= $index;){
                    <tr>
                        <th>{{idx + 1 }}</th>
                        <td>{{reservation.book.name}}</td>
                        <td>{{reservation.customer.name}} {{reservation.customer.surname}}</td>
                        <td>{{reservation.status}}</td>
                        <td>{{reservation.reservedOn | date:"yyyy-MM-dd hh:mm"}}</td>
                        <td>{{reservation.returnBy | date:"yyyy-MM-dd hh:mm"}}</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
}