@if(loading == true){
    <div class="container text-center mt-5">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}@else {
    <div class="container text-center mt-3">
        <div class="table-responsive rounded-4 border-3 color-bg-custom">
            <table class="table table-hover custom-font">
                <thead class="custom-header">
                    <tr>
                        <th scope="col text-base">#</th>
                        <th scope="col text-base">Book Name</th>
                        <th scope="col text-base">Customer Name</th>
                        <th scope="col text-base">Status</th>
                        <th scope="col text-base">Reserved On</th>
                        <th scope="col text-base">Returned By</th>
                        <th scope="col text-base">Actions</th>
                    </tr>
                </thead>
                <tbody >
                @for(reservation of reservations; track idx; let idx= $index;){
                    <tr>
                        <th class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">{{idx + 1 }}</th>
                        <td class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">{{reservation.book.name}}</td>
                        <td class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">{{reservation.customer.name}} {{reservation.customer.surname}}</td>
                        <td class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">{{reservation.status}}</td>
                        <td class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">{{reservation.reservedOn}}</td>
                        <td class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">{{reservation.returnBy}}</td>
                        <td class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">
                            <section>
                                <div class="example-button-row">
                                    <button mat-stroked-button class="edit-button" >Release</button>
                                </div>
                            </section>
                        </td>
                    </tr>
                }
                </tbody>
                
                <tr class="border-b border-slate-100 dark:border-slate-700 p-4 align-middle">
                    <button mat-stroked-button class="edit-button" [routerLink] = "['add-reservation']">Add new reservation</button>
                </tr>
            </table>
        </div>
    </div>
}