@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #F7F0F5 !important;}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.title-card{
    color: red ;
    font-size: 1.25rem !important;
    font-weight: 700 !important;
    color: rgba(74, 85, 104)
}

.disabled-button {
    cursor: not-allowed;
    opacity: 0.5;
  }