
html, body { height: 100%; }
body { margin: 0; font-family: Roboto,
             "Helvetica Neue", sans-serif;
        }


html, body { height: 100%; }
body { margin: 0; 
    
    background: url(/image.jpeg) center center;
    background-size: cover;  
    font-family: Roboto, "Helvetica Neue", sans-serif; }

.title-card{
    color: red ;
    font-size: 1.25rem !important;
    font-weight: 700 !important;
    color: rgba(74, 85, 104)
}

.disabled-button {
    cursor: not-allowed;
    opacity: 0.5;
  }
