
html, body { height: 100%; }
body { margin: 0;
  background: linear-gradient(to left, #FFDAB9, #ffc684);  
    background-size: cover;
    font-family: Roboto, "Helvetica Neue", sans-serif; 

  }

.title-card{
    color: red ;
    font-size: 1.25rem !important;
    font-weight: 700 !important;
    color: rgba(74, 85, 104)
}

.disabled-button {
    cursor: not-allowed;
    opacity: 0;
  }
